<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/main.css" />
</head>
<body>
   <div class="container">
    <form action="">
    <label for="image">
        <canvas id="canvas" data-image = "">
        </canvas>
    </label>
    <input type="file" class="upload-image" name="image" accept="image/*">
    </form>
    <div class="controls">
        <label for="resolution" class="resolutionLabel">5px</label>
        <input type="range" min="1" max="20" value="5" id="resolution" name="resolution"></input>
    </div>
   </div>
    <script src="./js/main.js"> </script>
</body>
</html>